@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor1: rgb(31, 138, 205);
    --cor2:rgba(111, 188, 235, 0.6);
    --cor3:rgba(40, 40, 251, 0.2);
    --cor4: rgb(75, 43, 106);
}

body,html{
    width: 100vw;
    height: 100vh;
    min-width: 280px;
    min-height: 350px;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor2);
}

#login{
    display: flex;
    align-items: center;
    width: 60vw;
    max-width: 900px;
    min-width: 200px;
    height: 450px;
    min-height: 340px;
    background-color: var(--cor1);
    border: 3px solid var(--cor4);
    border-radius: 30px;
    overflow: hidden;;
}

#login-aside{
    align-content: center;
    width:35%;
    height: 100%;
    border-right: 3px solid var(--cor4);
}

h1{
    padding-left: 10px;
}

h1 > p{
    display: inline-block;
    transform: translateY(-30px);
}

.logo1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5vw;
    padding-left: 2px;
    color: rgb(75, 43, 106);
    text-shadow: 1px 1px 1px white;
}

.logo2{
    position: relative;
    top: -3px;
    left: -0.4vw;
    color: white;
    font-size:1.7vw;
    font-weight:none;
}

#formulario{
    align-content: center;
    justify-items: center;
    gap: 3px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.838);   
}

#user{
    align-content: center;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1px solid var(--cor4);
    border-radius: 50%;
    overflow: hidden;
}

#formulario span{
    display: block;
    font-size: 150px;
    color: var(--cor4);
    background-color: var(--cor1);
    border-radius: 50%;
}

#formulario img{
    display: none;
    width: 150px;
}

.dados input{
    display: block;
    border: 2px solid var(--cor4);
    margin-bottom: 8px;
}

.botoes-form{
    text-align: center;
}

form > .botoes-form >input{
    background-color: var(--cor1);
    padding: 1px 8px;
    border-radius: 1000px;
    color:white;
    font-size: 1em;
    cursor: pointer;
}

form > .botoes-form > input:hover{
    background-color: var(--cor2);
    color: var(--cor4);
    box-shadow: 3px 3px 5px rgb(0,0,0,0.4);
    transform: translateY(-2px);
    transition: 0.2s;
}

footer{
    display: flex;
    place-content: center;
    align-content: center;
    margin: 15px;
    font-size: 1.2em;
    color: var(--cor4);
}

footer span{
    transform: translateY(5px);
}

footer a:hover{
    color: var(--cor1);
}

@media screen and (max-width:600px){
    #login{
        flex-direction: column;
    }

    #login-aside{
        width: 100%;
        height: auto;
        border-right:none;
        border-bottom: 2px solid var(--cor4);
    }

    #login-aside h1{
        padding: 5px 0px 0px 15px;
    }

    #login-aside > h1 > p{
        transform: translateY(0px);
    }

    .logo1{
        font-size: 1.7em;
    
    }

    .logo2{
        font-size: 0.7em;
        top:-2px;
        left: -5px;
    }
}

@media screen and (max-height:450px){
    body{
        flex-direction: row-reverse;
    }

    #login{
        height: 90vh;
    }

    #user{
        width:65px;
        height:65px;
    }

    #user span{
        font-size: 65px;
    }

    #formulario img{
        width: 65px;
    }
}