@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor1: rgb(31, 138, 205);
    --cor2:rgba(111, 188, 235, 0.6);
    --cor3:rgba(40, 40, 251, 0.2)
}

body{
    background-color: var(--cor2);
}