@charset "UTF-8";

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(111, 187, 235);
    padding: 5px 30px;
}

section{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 10px;
    width: 74%;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    place-items: center;
    width: 25%;
}

.matéria{
    display:flex;
    flex-direction:column;
    place-items:space;
    justify-content: center;
    gap: 3px;
    height: 300px;
    width: 100%;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
}

.matérias{
    display:flex;
    flex-direction:column;
    place-items: center ;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.matérias h2{
    font-size: 3rem;
}

.matérias p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.3;
}

picture img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.imagem{
    position: relative;
    width: 100%;
    height: 300px;
}

.blur{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    filter: blur(10px);
}

.texto{
    top: 2%;
    left: 0.5%;
    position: absolute;
    display: flex;
    place-items: center;
    justify-content: center;
    font-size: 50px;
    border-radius:10px;
    width: 99%;
    height: 95%;
}

.texto > P{
    color: white;
    text-align: center;
}

.propaganda{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 5px;
    width: 300px;
    height: 300px;
    background-color: red;
    border: 1px solid black;
}

@media(max-width: 549px){
    .propaganda{
        width:280px;
        height: 280px;
    }



    .propaganda_text{
        font-size: 2rem;
    }
    
}

.propaganda_text{
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(-42deg);
    font-size: 3rem;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px 3px white;
    text-decoration: underline;
}

.propaganda_text:hover{
    transform: rotate(0deg);
    transition: 1s;
}

.barra_noticias{
    height: 700px;
    width: 100%;
    margin-right: -2px;
    overflow-y: scroll;
}

.barra_noticias::-webkit-scrollbar{
    width: 3px; /* Largura da barra de rolagem vertical */
    height: 100px; /* Altura da barra de rolagem horizontal */
}

.barra_noticias::-webkit-scrollbar-track {
    background: transparent; /* Cor do trilho */
    border-radius: 10px; /* Bordas arredondadas do trilho */
}

.barra_noticias::-webkit-scrollbar-thumb {
    background: var(--cor1); /* Cor do polegar */
    border-radius: 10px; /* Bordas arredondadas do polegar */
}

.noticias{
    margin: 10px 0px;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aquamarine;
}

.banner{
    position: sticky;
    top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    height: 600px;
    background-color: lightyellow;
    background-image: url(imagens/ghostband.JPG);
    background-position: center top;
    border: 1px solid black;
}

@media(max-width:820px){
    main{padding: 5px 5px;}

    .barra_noticias{
        height: 630px;
    }

    .noticias{
        height:100px
    }

    .banner{
        top: 180px;
        height: 300px;
        background-image: url(imagens/minighostband.JPG);
    }
        

}

@media (max-height: 660px){
    .banner{
        top: 12vh;
        height:320px;
    }
}

@media(max=height: )

