.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(31, 138, 205);
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.menubar{
    padding-top: 5px;
    margin: 1px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.button{
    display: block;
    width: 200px;
    text-align: center;
    border: 1px solid var(--cor2);
    border-radius: 1000px;
}

.opções::-webkit-scrollbar{
    width: 3px; /* Largura da barra de rolagem vertical */
    height: 30px; /* Altura da barra de rolagem horizontal */
}

.opções::-webkit-scrollbar-track {
    background: transparent; /* Cor do trilho */
    border-radius: 10px; /* Bordas arredondadas do trilho */
}

.opções::-webkit-scrollbar-thumb {
    background: var(--cor1); /* Cor do polegar */
    border-radius: 10px; /* Bordas arredondadas do polegar */
}

.menu p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    border: 1px solid var(--cor1);
}

.button >p:hover{
    border: 1px solid black;
    border-radius: 1000px;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.5);
    text-decoration: underline ;
    cursor: pointer;
}

.opções{
    position: absolute;
    background-color:rgb(31, 138, 205) ;
    margin-top: 4px;
    width: 200px;
    max-height:85vh;
    overflow-y: scroll;
    outline: 1px solid white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
    transition-delay: 0.2s;
}

.opções a{
    display: block;
    padding: 1px 3px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.button:hover  .opções{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.opções  a:hover{
    background-color: var(--cor3);
    border-radius: 1px; 
    text-decoration: underline;
}

@media(max-width:950px){
    .menubar{
        margin: 0vh 2vw;
        gap: 2vw;
    }
    
    .button{
        width: 18vw;
    }

    .menu a, .button p, .opçoes a{
        font-size: 3.5vw ;
        
    }

    .opções{
        width: 18vw;
    }

    .opções a{
        font-size: 3.5vw;
        padding:3px 0px;
    }
}